# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/fezzante/mapi.fezzantechx.ly"
PassengerBaseURI "/"
PassengerPython "/home/fezzante/virtualenv/mapi.fezzantechx.ly/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
